@import animations, palette

.rightImage
  position: fixed
  z-index: -1
  width: 40%
  height: 40%
  bottom: 200px
  right: 22%
  right: 22vw

.body-container.bio
  top: 50px
  position: relative
  width: 60%
  margin-left: -30%
  transform: none
  .bio-container
    padding: 20px
    margin-bottom: 40px

    h1
      text-align: left
      font-size: 40px
      font-weight: 100
      text-transform: uppercase
      color: white
      margin: 0 auto 32px
      padding: 5px 0px

    img
      height: 150px
      float: left
      margin: 0px 15px 0px 0px
      border-radius: 4px
    p
      display: inline-block
      word-wrap: break-word
      color: white
      text-align: justify
      margin: 0 0 10px

      &:not(.no-animation)
        opacity: 0
        @for $i from 1 through 7
          &:nth-child(#{$i})
            +fade(300ms)
            +delay(#{$i * 150}ms)
    a
      color: $accent
      font-weight: 700

      &:hover
        text-decoration: underline

.statement-container p:last-of-type
  text-align: center

.digital-art-container
  text-align: left

  p
    font-size: 16px
    font-family: $font-mono

@media screen and (max-width: 500px)
  .body-container.bio
    left: 60%
    .bio-container p
      text-align: left
