@import animations, palette

.rightImage
  position: fixed
  z-index: -1
  width: 40%
  height: 40%
  bottom: 200px
  right: 22%
  right: 22vw

.body-container.bio
  top: 50px
  position: relative
  width: 60%
  margin-left: -30%
  transform: none
  .bio-container
    padding: 20px
    margin-bottom: 40px

    h1
      text-align: left
      font-size: 40px
      font-weight: 100
      text-transform: uppercase
      color: white
      margin: 0 auto 32px
      padding: 5px 0px

    h2
      color: white
      font-size: 32px
      font-weight: 100
      text-transform: uppercase
      margin: 20px auto 16px
      padding: 5px 0px

    .heading
      h1, h2, p, ul
        text-align: center
      li
        list-style: none
        padding-bottom: 8px
      ul
        margin: 0

    img
      float: left
      margin: 0px 15px 0px 0px
      border-radius: 4px
    p
      font-size: 16px
      font-weight: 300
      line-height: 22px
      display: inline-block
      word-wrap: break-word
      color: white
      text-align: justify
      width: 100%
      margin: 0 0 16px

    a
      color: $accent
      font-weight: 700

      &:hover
        text-decoration: underline

    button
      appearance: none
      cursor: pointer
      text-transform: uppercase
      background: white
      border-radius: 4px
      border: none
      padding: 6px 8px
      font-size: 16px
      margin: 32px auto 32px
      &:hover
        opacity: 0.8

    .button-group
      margin: 0
      display: flex
      margin-top: 16px
      gap: 32px
      button
        margin: 0

    ul
      color: white
      text-align: left
      list-style: initial
      margin: 0 0 16px 16px

    .image-bar
      display: flex
      justify-content: space-between
      gap: 16px
      margin-bottom: 40px
      img
        box-sizing: border-box
        width: calc(25% - 16px)
        margin: 0

  .bio-container:not(.no-animation) p
    opacity: 0
    @for $i from 1 through 7
      &:nth-child(#{$i})
        +fade(300ms)
        +delay(#{$i * 150}ms)

.statement-container p:last-of-type
  text-align: center

.digital-art-container
  text-align: left

  p
    font-size: 16px
    font-family: $font-mono

@media screen and (max-width: 500px)
  .body-container.bio
    left: 60%
    .bio-container p
      text-align: left
