body
  padding: 0px
  margin: 0px
  font-family: $font-caption
  height: 100vh
  min-height: 100%
  background:
    color: $bg-color

a, a:visited, a:hover, a:focus
  text-decoration: none
  color: currentColor

ul
  list-style: none
  padding: 0

textarea
  resize: none

h1
  font-size: 80px
  font-weight: 100
  text-transform: uppercase
  color: white
  margin: 0 auto

h3
  font-size: 40px
  font-weight: 100
  text-transform: uppercase
  color: white
  margin: 0 auto

h4
  font-weight: 300
  font-size: 26px
  margin: 0
  color: white
  text-transform: lowercase
