@-webkit-keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

=dance($duration)
  animation: dance $duration linear forwards
  -webkit-animation: dance $duration linear forwards


=delay($seconds)
  -webkit-animation-delay: $seconds
  animation-delay: $seconds
