@import animations, palette
.body-container.choreo
  top: 0px
  width: 70%
  margin-left: -35%
  position: relative
  .choreo-container
    border: 10px solid white
    padding: 20px
    position: absolute
    margin-top: 50px
    width: auto
    font-family: $font-lato

    h3
      text-align: left

    h4
      text-transform: uppercase
      letter-spacing: 0px
      &:after
        content: ''
    p
      text-align: justify
      font-weight: 300

    .choreo-box
      display: flex
      align-items: center
      margin-top: 30px
      padding-bottom: 40px
      padding-top: 30px
      border-bottom: 4px solid white
      opacity: 0
      &:last-child
        border-bottom: none
      .visual, .copy
        vertical-align: middle
        width: 45%
        margin: 0% 2.5%
      &:nth-last-of-type(2n)
        flex-direction: row
      &:nth-last-of-type(2n+1)
        flex-direction: row-reverse
    .choreo-box
      @for $i from 1 through 7
        &:nth-of-type(#{$i})
          +fade(300ms)
          +delay(#{$i * 200}ms)
