@import palette
.media
  display: flex

  .card
    width: auto
    height: auto
    position: relative
    width: 640px
    height: 360px
    iframe
      position: absolute
      width: 100%
      height: 100%
    .caption
      position: absolute
      display: none
      bottom: 45px
      right: 0
      background-color: rgba(0,0,0,0.7)
      padding: 5px 10px
