extends ../pug/_main_template.pug
block title
  title Emily Hansel | Photos
  link(rel="stylesheet", href="../assets/css/index.css")
block content
  .media
    .home-button
      a(href="/" alt="Emily")
        img(src="../assets/img/dancing/crop/4.png")
    .photo-container
      .x
        h1#photo Photos
        div(class="grid js-masonry" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 266 }')
          
          //- each val, index in values
          //-   img(src="../assets/img/dancing/carousel/" + index + "}.jpg"  width="100%" data-caption=val)
          div.grid-item
            img(src="../assets/img/dancing/masonry/1.jpg" data-action="zoom" data-caption="<i>The Exceptionally Elderly Overweight Black Man Phoenix</i> | Choreography by Robert Moses | Photograph by Jim Coleman | 2019")
          div.grid-item
            img(src="../assets/img/dancing/masonry/2.jpg" data-action="zoom" data-caption="<i>BIG SALT</i> | Photograph by Summer Wilson for The Anata Project | 2019")
          div.grid-item
            img(src="../assets/img/dancing/masonry/3.jpg" data-action="zoom" data-caption="<i>Belong Not</i> | Choreography by Chuck Wilt for Post:Ballet | Photograph by Alexander Reneff-Olson | 2020")
          div.grid-item
            img(src="../assets/img/dancing/masonry/4.jpg" data-action="zoom" data-caption="<i>Roaratorio</i> | Choreography by Merce Cunningham | Photograph by Hillary Goidell | 2019")
          div.grid-item
            img(src="../assets/img/dancing/masonry/5.jpg" data-action="zoom" data-caption="<i>Biped</i> | Choreography by Merce Cunningham | Photograph by Hillary Goidell | 2019")
          div.grid-item
            img(src="../assets/img/dancing/masonry/6.jpg" data-action="zoom" data-caption="<i>Simple Symphony</i> | Choreography by Mark Foehringer | Photograph by Matt Haber | 2019")
          div.grid-item
            img(src="../assets/img/dancing/masonry/7.jpg" data-action="zoom" data-caption="<i>Concerto Grosso</i> | Choreography by Mark Foehringer | Photograph by Matt Haber | 2019")
          div.grid-item
            img(src="../assets/img/dancing/masonry/8.jpg" data-action="zoom" data-caption="Photograph by Edward Michael for the Anata Project | 2019")
          div.grid-item
            img(src="../assets/img/dancing/masonry/9.jpg" data-action="zoom" data-caption="<i>The Exceptionally Elderly Overweight Black Man Phoenix</i> | Choreography by Robert Moses | Photograph by Jim Coleman | 2019")
          div.grid-item
            img(src="../assets/img/dancing/masonry/10.jpg" data-action="zoom" data-caption="Photograph by Stephen Texeira | 2018")
          div.grid-item
            img(src="../assets/img/dancing/masonry/11.jpg" data-action="zoom" data-caption="Photograph by Stephen Texeira | 2018")
          div.grid-item
            img(src="../assets/img/dancing/masonry/12.jpg" data-action="zoom" data-caption="<i>Point of Dissolve</i> | Photograph for The Anata Project courtesy of Meets the Eye Studios | 2017")
          div.grid-item
            img(src="../assets/img/dancing/masonry/13.jpg" data-action="zoom" data-caption="Photograph by Jason Lam | 2016")
          div.grid-item
            img(src="../assets/img/dancing/masonry/14.png" data-action="zoom" data-caption="<i>KOTO</i> | Choreography by Alonzo King | Photograph by Kyle Scharf | 2015")
          div.grid-item
            img(src="../assets/img/dancing/masonry/6.5.jpg" data-action="zoom" data-caption="<i>BIG SALT</i> | Photograph by Summer Wilson for The Anata Project | 2019")

    .full-screen-caption
block scripts
  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js")
  script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
  script(src="../assets/js/carousel.js")
  script(src="../assets/js/zoom.js")
  script sessionStorage.seen = true;
