extends ./pug/_main_template.pug
block title 
  title Emily Hansel
  link(rel="stylesheet", href="./assets/css/index.css")
block content
  .body-container
    h1
      a(href="", alt="Emily Hansel") Emily Hansel
    h4 Dancer
    h4 Choreographer
    ul.menu
      .menu-item 
        span.menu-button about
        ul.sub-menu
          li 
            a.site-link(href="/bio" alt="bio") bio
          li 
            a.site-link(href="assets/resume.pdf" target="_blank" alt="resume") resume
      .menu-item 
        span.menu-button works
        ul.sub-menu 
          li 
            a.site-link(href="/choreography" alt="choreography") choreography
          li 
            a.site-link(href="/statement" alt="artist statement") artist statement          
      .menu-item 
        span.menu-button  media
        ul.sub-menu 
          li 
            a.site-link(href="/video" alt="video") video
          li 
            a.site-link(href="/photo" alt="photo") photo
      .menu-item 
        span.menu-button.contact contact 
      .dancing-image
  //- img.leftImage(src='assets/img/dancing/5.png')
  
  .load-images
    img(src='assets/img/dancing/1.png')
    img(src='assets/img/dancing/2.png')
    img(src='assets/img/dancing/3.png')
    img(src='assets/img/dancing/4.png')
    img(src='assets/img/dancing/5.png')
    img(src='assets/img/dancing/6.png')
    img(src='assets/img/dancing/7.png')
    img(src='assets/img/dancing/8.png')
    img(src='assets/img/dancing/9.png')
    img(src='assets/img/dancing/10.png')
    img(src='assets/img/dancing/11.png')
block scripts
  script(src="./assets/js/jquery.js")
  script(src="./assets/js/app.js")
