extends ../pug/_main_template.pug
block title
  title Emily Hansel | Bio
block content
  .home-button 
    a(href="/" alt="Emily") E  
  .body-container.bio
    .bio-container
      h3 Bio
        
      p.
        <span class="bio-highlight">Emily Hansel</span> began her dance training in Rochester, 
        Minnesota at Allegro School of Dance and the Minnesota Youth Ballet Academy. She performed 
        with Minneapolis’s Metropolitan Ballet, danced in 
        several projects at the Ritz Theater in Minneapolis, and founded the Summer Choreography Workshop in Rochester. 
        She attended the summer intensives of Alonzo King LINES Ballet, the San Francisco Conservatory of Dance, and the 
        American Ballet Theatre. In 2012, at age 17, <span class="bio-highlight">Emily</span> 
        was awarded the Homer Avila Scholarship by Alonzo King LINES Ballet.
      p.
        In 2014, <span class="bio-highlight">Emily</span> attended the American Dance Festival School where she performed in the original work of 
        choreographer Carl Flink. In 2015, <span class="bio-highlight">Emily</span> attended the University of South Florida’s Dance in Paris program 
        where she studied under dancers from companies such as Tanztheater Wuppertal (Pina Bausch), 
        Chunky Move (Anouk van Dijk), and Nederlands Dans Theater.
      p.
        Currently in her third year of study at the University of South Florida, <span class="bio-highlight">Emily</span> has established herself 
        as a dynamic performer, choreographer, scholar, and leader. She has performed in works by Ohad Naharin, 
        Alonzo King, Robert Moses, Maurice Causey, Bliss Kohlmyer, Paula Nunez, Andrew Carroll, and Jeanne 
        Travers and, in October 2015, she performed at the International Creative Dance Seminar in Beijing, China. 
        <span class="bio-highlight">Emily</span>’s choreography has been presented multiple times in USF’s annual Student Dance Production among other 
        shows. <span class="bio-highlight">Emily</span> is currently conducting research for her Honors Thesis, “The Representation of Ideas by Words 
        and Art,” which will culminate in the choreography and performance of a solo in April 2015.
      p.
        <span class="bio-highlight">Emily</span> is the President of USF’s Student Dance Production Board, which entails overseeing every aspect of 
        production for the annual student-run and student-choreographed concert among other managerial and 
        organizational responsibilities. She has worked on the TEDxUSF Affairs Team for two years and has 
        held various other leadership positions in the USF community. <span class="bio-highlight">Emily</span> is on her way to becoming a 
        King O'Neal Scholar and she will graduate in May 2016 as a Provost's Scholar with a BFA in Dance 
        Performance and an honors degree.
