extends ../pug/_main_template.pug
block title
  title Emily Hansel | Bio
  link(rel="stylesheet", href="../assets/css/index.css")
block content
  .home-button
    a(href="/" alt="Emily") E
      img.flip(src="../assets/img/dancing/crop/1.png")
  .body-container.bio
    .bio-container
      h1 Bio
      p.
        <img src="../assets/img/headshot-2.jpg" height="200" alt="Emily Hansel"> Emily Hansel
        is a San Francisco-based dancer and choreographer.
        <br />
        <br />
        Originally from Rochester, Minnesota, Emily began her dance training
        at Allegro School of Dance and Minnesota Youth Ballet Academy.
        This training was augmented by the summer intensives of Alonzo
        King LINES Ballet, the San Francisco Conservatory of Dance,
        and American Ballet Theatre. In 2012, Emily received the Homer
        Avila Award from Alonzo King LINES Ballet.
      p.
        Emily received her BFA in Dance from the
        <a target="_blank" href="http://theatreanddance.arts.usf.edu/content/go/dance/">University of South Florida</a>,
        where she performed in works by Ohad Naharin, Alonzo King, Robert
        Moses, Maurice Causey, Bliss Kohlmyer, Paula Nunez, Andrew Carroll,
        and Jeanne Travers among others. In 2014, Emily attended the
        American Dance Festival School where she worked with
        choreographer Carl Flink and performed in his ADF-commissioned piece,
        <em>Unkindness of Ravens</em>. In 2015, she performed at the International
        Creative Dance Seminar at the Beijing Dance Academy and travelled
        to France with USF’s Dance in Paris Program. Upon her graduation
        in 2016, Emily received the awards of USF Undergraduate Scholar,
        King O’Neal Scholar, and Provost’s Scholar. She then relocated to San Francisco.
      p.
        Emily currently dances for
        <a href="https://www.robertmoseskin.org/" target="_blank">Robert Moses’ KIN</a>,
        <a href="https://www.postballet.org/" target="_blank">Post:Ballet</a>, and
        <a href="http://mfdpsf.org/" target="_blank">Mark Foehringer Dance Project</a>
        and recently performed Cunningham
        repertory in <em>Signals from the West: Bay Area Artists In Conversation
        with Merce Cunningham at 100</em>. Emily has also performed with The
        Anata Project, Talli Jackson, Marika Brussel, Alma Esperanza
        Cunningham, Kristin Damrow Company, Brannigan Dance Works,
        and SOULSKIN Dance. Emily’s choreography has been presented
        at numerous venues throughout the Bay Area, Georgia, and Florida.
      p.
        When she isn’t performing or choreographing, Emily teaches ballet
        and contemporary to students ages 3 through 12 at the ODC School
        and Steppin’ Out Dance Studio. She also enjoys working in the
        numerous arts administration roles that she holds at ODC, FACT/SF,
        MFDP, and Linda Bulgo’s Musical Productions.

      //- include:markdown-it ./bio.md
    include ../pug/_footer.pug
block scripts
  script sessionStorage.seen = true;
