extends ../pug/_main_template.pug
block title
  title Emily Hansel | Four by Four | Audio
  link(rel="stylesheet", href="../assets/css/index.css?v=2")
block content
  .body-container.bio
    h1.hero
      a(href="/fourbyfour")
        img(src="../../assets/img/fourbyfour/title.png" alt="Four by Four" width="96%")
    .bio-container.no-animation
      p An English audio description of the <i>Four by Four</i> film will be available on-demand July 1-31, 2022. You will be emailed instructions for accessing the audio description on or before July 1, 2022.

      p This audio description is available at a variety of price points and patrons are encouraged to consider their economic status when deciding which price to pay.

      p How much would you like to pay to access the <i>Four by Four</i> audio description?

      ul.button-group
        a(href="https://docs.google.com/forms/d/e/1FAIpQLSfuS7UfADIXlCedm7Ch8f39vDU06qavvmjkmbhS9oIYpeU7VQ/viewform?usp=sf_link" target="_blank") 
          button(tabindex="-1") $0  
        a(href="https://buy.stripe.com/14kcO90aqgCa2f63ci" target="_blank")
          button(tabindex="-1")  $5
        a(href="https://buy.stripe.com/8wMdSd1eufy66vm8wD" target="_blank")
          button(tabindex="-1") $10
        a(href="https://buy.stripe.com/aEUaG18GWfy606YdQY" target="_blank")
          button(tabindex="-1")  $15
        a(href="https://buy.stripe.com/28ocO90aqdpYf1S7sB" target="_blank")
          button(tabindex="-1") $20
        a(href="https://buy.stripe.com/dR629vf5keu2aLC3cm" target="_blank")
          button(tabindex="-1") $25

block scripts
  script sessionStorage.seen = true;
