extends ../pug/_main_template.pug
block title
  title Emily Hansel | Four by Four | Ask
  link(rel="stylesheet", href="../assets/css/index.css?v=2")
block content
  .body-container.bio
    .bio-container.no-animation
      .heading 
        h1 Four by Four
        p 
          ul
            li May 26-28, 2022
            li ODC Theater
            li San Francisco, CA
            br
            li Thursday, May 26 at 7:00 pm
            li Friday, May 27 at 7:00 pm
            li Saturday, May 28 at 4:00 pm

        a(href="")
          button Buy tickets

      p Choreographed by Emily Hansel and co-created by dancers Alex Carrington, Mia J. Chong, Shareen DeRyan, and Chelsea Reichert, <i>Four by Four</i> is a messy attempt at refusing productivity. Since beginning work in November 2021, the artists have been practicing the radical act of not knowing. They’ve been fighting their capitalist tendencies, taking their time, embracing messiness, and prioritizing adaptability. <i>Four by Four</i>, featuring original music composed by Sophia Cotraccia and Bed Juodvalkis and lighting design by Thomas Bowersox, is a contemporary dance that is simultaneously light-hearted, serious, ordinary, and one-of-a-kind.

      p <i>Four by Four</i> is made possible by contributions from the California Arts Council, ODC Theater’s Rental Discount Initiative, Steppin’ Out Dance Studio, and RoundAntennae.

      p Tickets are available at a variety of price points and no one will be turned away for lack of funds. Ticket buyers are encouraged to consider their economic status when deciding which tickets to purchase. If price is a barrier for you, please email <a href="mailto:emily@emilyhansel.me" target="_blank">emily@emilyhansel.me</a> to receive a complimentary ticket.

      h2 Accessibility

      p
        strong Attend the in-person performance:
        br
        | The performance is just over an hour long and will include audience breaks/intermissions every 15-20 minutes. ODC Theater is an ADA accessible building and includes ADA accessible all-gender bathrooms. All audience members will be required to wear a mask throughout the duration of their visit to ODC Theater.
      
      a(href="https://odc.secure.force.com/ticket/?_ga=2.234779421.2098805509.1649436505-1909123880.1600909191#/events/a0S5b00000BXZzNEAX")
        button Get tickets

      p
        strong Watch the performance online:
        br
        | A film version of <i>Four by Four</i> will be available on-demand July 1-31, 2022. This video will include open captions in English. You will be emailed instructions for accessing the film on or before July 1, 2022.

      a(href="/fourbyfour/video")
        button Get the film

      p
        strong Listen to an audio description online:
        br
        | An English audio description of the <i>Four by Four</i> film will be available on-demand July 1-31, 2022. You will be emailed instructions for accessing the audio description on or before July 1, 2022.
      
      a(href="/fourbyfour/audio")
        button Get the audio description

      p Patrons are invited to correspond with Emily (<a href="mailto:emily@emilyhansel.me" target="_blank">emily@emilyhansel.me</a>) about specific accessibility concerns or questions.

      h2 More About <i>Four by Four</i>

      p
        <i>Four by Four</i> is Emily Hansel’s first self-produced, evening-length choreographic work. This project also marks the first time she’s formed a business, hired dancers as employees, and managed such a substantial project budget. 
        a(href="https://emilyhansel.me/fourbyfour/ask") Learn more about this process, check out the project budget, and consider making a donation.

block scripts
  script sessionStorage.seen = true;
