extends ../pug/_main_template.pug
block title
  title Emily Hansel | Four by Four | Video
  link(rel="stylesheet", href="../assets/css/index.css?v=2")
block content
  .body-container.bio
    h1.hero
      a(href="/fourbyfour")
        img(src="../../assets/img/fourbyfour/title.png" alt="Four by Four" width="96%")
    .bio-container.no-animation
      p A film version of <i>Four by Four</i> will be available on-demand July 1-31, 2022. This video will include open captions in English. You will be emailed instructions for accessing the film on or before July 1, 2022.

      p This film is available at a variety of price points and patrons are encouraged to consider their economic status when deciding which price to pay.

      p How much would you like to pay to access the <i>Four by Four</i> film?

      ul.button-group
        a(href="https://www.google.com/url?q=https://docs.google.com/forms/d/e/1FAIpQLScqS1OaKyi67SjiSAvNPPkVx23l4p-tiMQ4Bw4SirBB2UqKrg/viewform?usp%3Dsf_link&sa=D&source=docs&ust=1650136235800495&usg=AOvVaw1nENQ3nAwH8MUnQmh-6Ot6" target="_blank") 
          button $0  
        a(href="https://buy.stripe.com/6oE8xTcXcfy6bPGbIJ" target="_blank")
          button  $5
        a(href="https://buy.stripe.com/eVa5lH1eudpYf1SfZ0" target="_blank")
          button $10
        a(href="https://buy.stripe.com/dR63dzcXc99If1SdQT" target="_blank")
          button  $15
        a(href="https://buy.stripe.com/9AQ4hD8GWclU9HyeUY" target="_blank")
          button $20
        a(href="https://buy.stripe.com/6oE29v4qG99Ig5W6ot" target="_blank")
          button $25

block scripts
  script sessionStorage.seen = true;
