extends ../pug/_main_template.pug
block title
  title Emily Hansel | Artist Statement
  link(rel="stylesheet", href="../assets/css/index.css")
block content
  .home-button
    a(href="/" alt="Emily") E
      img(src="../assets/img/dancing/crop/3.png")
  .rightImage
    img(src="../assets/img/insatiable.png")
  .body-container.bio
    .bio-container
      h1 Artist Statement
      include:markdown-it ./statement.md
    include ../pug/_footer.pug
block scripts
  script sessionStorage.seen = true;
