extends ../pug/_main_template.pug
block title
  title Emily Hansel | Media
  link(rel="shortcut icon", href="../assets/img/favicon.ico")
  link(rel="icon", href="../assets/img/favicon.ico", type="image/x-icon")
  link(rel="stylesheet", href="../assets/css/index.css")
block content
  .media
    .home-button
      a(href="/" alt="Emily") E
        img(src="../assets/img/dancing/crop/5.png")
    h1#photo Video
    .media-container.video-container
      .prev &lt;
      .next &gt;
      .carousel
        .card(data-caption="<i>Cause</i><small><br>2016<br>Choreographed by Robert Moses<br>Restaged by Bliss Kohlmyer</small")
          iframe(src="https://www.youtube.com/embed/e1rxVNvJTJQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
        .card(data-caption="<i>Unkindness of Ravens</i><small><br>2014<br>Choreographed by Carl Flink</small>")
          iframe(src="https://www.youtube.com/embed/sANlYpQEVgo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
        .card(data-caption="<i>untitled_37.txt</i><small><br>2016<br>Choreographed and performed by Emily Hansel</small>")
          iframe(src="https://www.youtube.com/embed/S6XhwIM7ZdA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
        .card(data-caption="Ballet Performance Samples<small><br>2014-2016</small>")
          iframe(src="https://www.youtube.com/embed/zqiOqTy0BWk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
        .card(data-caption="Additional Modern/Contemporary Performance Samples<small><br>2013-2015</small>")
          iframe(src="https://www.youtube.com/embed/pP-pS1zqhm4?rel=0&amp;showinfo=0"  frameborder="0" allowfullscreen)
      .caption
block scripts
  script(src="../assets/js/jquery.js")
  script(src="../assets/js/jquery.mousewheel.min.js")
  script(src="../assets/js/carousel.js")
  script sessionStorage.seen = true;
