extends ../pug/_main_template.pug
block title
  title Emily Hansel | Media
  link(rel="shortcut icon", href="../assets/img/favicon.ico")
  link(rel="icon", href="../assets/img/favicon.ico", type="image/x-icon")
  link(rel="stylesheet", href="../assets/css/index.css")
block content
  .media
    .home-button
      a(href="/" alt="Emily") E
        img(src="../assets/img/dancing/crop/5.png")
    h1#photo Video
    .media-container.video-container
      .prev &lt;
      .next &gt;
      .carousel
        .card
          iframe(src="https://player.vimeo.com/video/151188661?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
        .card
          iframe(src="https://www.youtube.com/embed/KgTw8PLSSlw?rel=0&ampshowinfo=0" frameborder="0" allowfullscreen)
        .card
          iframe(src="https://www.youtube.com/embed/GR-ItOkoQ6w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
        .card
          iframe(src="https://www.youtube.com/embed/m0vI2u5sM1I?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
      .caption
block scripts
  script(src="../assets/js/jquery.js")
  script(src="../assets/js/jquery.mousewheel.min.js")
  script(src="../assets/js/carousel.js")
  script sessionStorage.seen = true;
