doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
  body
    .nav-opener
      i.ion-navicon
    .mobile-nav
      .nav-items
        .nav-item
          a.site-link(href="/" alt="home") home
        .nav-item
          a.site-link(href="/bio" alt="bio") bio
        .nav-item
          a.site-link(href="assets/resume.pdf" target="_blank" alt="resume") resume
        .nav-item
          a.site-link(href="/choreography" alt="choreography") choreography
        .nav-item
          a.site-link(href="/statement" alt="artist statement") artist statement
        .nav-item
          a.site-link(href="/media" alt="video") media
        .nav-item
          span.contact contact
    .contact-form
      span x
      form(method="POST", action="https://formspree.io/emilylhansel@gmail.com")
        p Fill out the form below to contact me
        input(tabindex="1",  type="text", name="name", placeholder="Name")
        input(tabindex="2",  type="email", name="_replyto", placeholder="Email")
        input(type="hidden", name="_next", value="#submitted")
        textarea(tabindex="3",  name="message" placeholder="Type your message here")
        input(tabindex="4",  type="submit" value="Send")
    block content
    block scripts
