doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- link(rel="shortcut icon", href="./assets/img/m.png")
    //- link(rel="icon", href="./assets/img/m.png", type="image/x-icon")
    link(rel="stylesheet", href="assets/css/index.css")
    title Emily Hansel | Portfolio
  body
    .body-container
      .card#about
        a(href='')
          .content
            .video
            h3.animated.fadeIn About
      .card#portfolio
        a(href='')
          .content
            h3.animated.fadeIn Portfolio
      .card#gallery
        a(href='')
          .content
            h3.animated.fadeIn Gallery
      .card#contact
        a(href='')
          .content
            h3.animated.fadeIn Contact
    script(src="assets/js/app.js")
