doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="./assets/img/favicon.ico")
    link(rel="icon", href="./assets/img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="assets/css/index.css")
    title Emily Hansel | Portfolio
  body
    .body-container
      .contact-form
        span x
        form(method="POST", action="https://formspree.io/emilylhansel@gmail.com")
          input(type="text", name="name", placeholder="Name")
          input(type="email", name="_replyto", placeholder="Email")
          input(type="hidden", name="_next", value="#submitted")
          textarea(name="message" placeholder="Type your message here")
          input(type="submit" value="Send")
      h1 Emily Hansel
      h4 Dancer | Choreographer
      ul.menu
        li.menu-item 
          span about
          ul.sub-menu
            li 
              a.site-link(href="/bio" alt="bio") bio
            li 
              a.site-link(href="assets/resume.pdf" alt="resume") resume
        li.menu-item 
          span works
          ul.sub-menu 
            li 
              a.site-link(href="/choreography" alt="choreography") choreography
            li 
              a.site-link(href="/statement" alt="artist statement") artist statement          
        li.menu-item 
          span  media
          ul.sub-menu 
            li 
              a.site-link(href="/video" alt="video") video
            li 
              a.site-link(href="photo" alt="photo") photo
        li.menu-item 
          a.site-link#contact(href="" alt="contact") contact
        //- .dancing-image
    script(src="assets/js/jquery.js")
    script(src="assets/js/app.js")
