doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- link(rel="shortcut icon", href="./assets/img/m.png")
    //- link(rel="icon", href="./assets/img/m.png", type="image/x-icon")
    link(rel="stylesheet", href="assets/css/index.css")
    title Emily Hansel | Portfolio
  body
    .body-container
      h1 Emily Hansel
      h4 Dancer | Choreographer
      ul.menu
        li.menu-item about
          ul.sub-menu
            li 
              span bio
            li 
              span resume
        li.menu-item works
          ul.sub-menu 
            li 
              span choreography
            li 
              span artist statement          
        li.menu-item media
          ul.sub-menu 
            li 
              span video
            li 
              span photo
        li.menu-item contact
    script(src="assets/js/app.js")
