extends ../pug/_main_template.pug
block title
  title Emily Hansel | Choreography
  link(rel="stylesheet", href="../assets/css/index.css")
block content
  .home-button
    a(href="/" alt="Emily")
      img.flip(src="../assets/img/dancing/crop/2.png")
  .choreo
    .choreo-container
      h1 Choreography
      .choreo-box
        .copy
          h4 PHANTOM
          h6 (2019)
          p.
            Directed, choreographed, and performed by Emily Hansel<br>
          p.
            <i>PHANTOM</i> was developed during a residency at SAFEhouse Arts and premiered at SAFEhouse in January, 2019.
        iframe.visual(src="https://www.youtube.com/embed/uJ4H6y7Gza8?showinfo=0" height="240px" frameborder="0" allowfullscreen)
      .choreo-box
        .copy
          h4 Vertical Words
          h6 (2018)
          p.
            Choreographed by Emily Hansel<br>
            Performed by Emily Hansel, Moses Kaplan, and Chelsea Reichert
          p.
            <i>Vertical Words</i> was presented at CounterPulse in January, 2018. An abridged version was performed at LEVYsalon in April, 2018.
        img.visual(src="../assets/img/choreo/levysalon.jpg" alt="Vertical Words, performed at LEVYsalon")
      .choreo-box
        .copy
          h4 Scale
          h6 (2017)
          p.
            Choreographed by Emily Hansel<br>
            Performed by Rachel Berryman, Malia Byrne, Katie House, and Nick Wagner
          p.
            <i>Scale</i> was presented by the Young Choreographers' Forum SF at
            the Joe Goode Annex in March, 2017.
        iframe.visual(src="https://www.youtube.com/embed/RomHWxPiTZU?rel=0&amp;showinfo=0" height="240px" frameborder="0" allowfullscreen)
      .choreo-box
        .copy
          h4 untitled_37.txt
          h6 (2016)
          p.
            Choreographed and performed by Emily Hansel<br>
            Computer program by Michael Fix
          p.
            <i>untitled_37.txt</i> was the culmination of over a year’s worth of
            research on the subjectivity of language. Words are not equivalent
            to ideas, they simply represent ideas. Words attempt to
            accurately portray the abstract in a concrete manner. The research
            developed into an exploration of the human need to make the abstract tangible.
          p.
            <i>untitled_37.txt</i> premiered on April 27, 2016 at the
            University of South Florida. This piece was the fruit of Emily’s
            <a href="/assets/thesis.pdf" target="_blank" alt="Honors Thesis">Honors Thesis</a>
            for the Honors College at USF.
        iframe.visual(src="https://www.youtube.com/embed/S6XhwIM7ZdA?rel=0&amp;showinfo=0" height="240px" frameborder="0" allowfullscreen)
        //- img.visual(src="../assets/img/choreo/untitled37.png" alt="Untitled_37.txt")
      .choreo-box
        .copy
          h4 No Reason
          h6 (2015)
          p.
            Choreographed by Emily Hansel for five dancers<br>
            Music by Ratatat<br>
            Originally performed by Natalie Bohin, Katie Kulasa, Raven Moore, Brent Townend, and Demetrius Tucker
          p.
            A piece in which there is a reason for everything. An environment in which five movers exist and discover.
          p.
            <i>No Reason</i> premiered at the University of South Florida’s
            Theatre One in December 2015.  It was later selected to be presented at
            the 2016 Southeast ACDA Conference, where it received rave
            reviews from the adjudicators for its originality as a
            “sophisticated fusion of dance theater, improvisation, and contemporary movement.”
        img.visual(src="../assets/img/choreo/noreason.png" alt="No Reason")
      .choreo-box
        .copy
          h4 Not Empty
          h6 (2015)
          p Choreographed, performed, and directed by Emily Hansel.
          p.
            This film is a response to a performance of Angelin Preljocaj's "Empty Moves"
            (performed by Ballet Preljocaj).
        img.visual(src="../assets/img/not-empty.png" alt="Not Empty")
      .choreo-box
        .copy
          h4 Insatiable
          h6 (2015)
          p.
            Choreographed and performed by Emily Hansel and Jessica Zizzo.<br>
            Music by ltlp, additional audio from Patrick McCarty.
          p.
            <i>Insatiable</i> was created in 2015 at the University of South Florida.
        img.visual(src="../assets/img/insatiable.png" alt="Insatiable")
      .choreo-box
        .copy
          h4 Scream
          h6 (2014)
          p.
            Choreographed by Emily Hansel.<br>
            Performed by Hannah Luckow, Alyssa Marchand, Robert Kelley, Hannah Mainellis, Monica Moneses, Cloe Leppard, and Dayne Davis.<br>
            Music by Philip Glass and Yo-Yo Ma.<br>
          p Inspired by Edvard Munch's "The Scream."
        img.visual(src="../assets/img/choreo/scream.png" alt="Scream")
    include ../pug/_footer.pug

block scripts
  script sessionStorage.seen = true;
