extends ../pug/_main_template.pug
block title
  title Emily Hansel | Videos
  link(rel="shortcut icon", href="../assets/img/favicon.ico")
  link(rel="icon", href="../assets/img/favicon.ico", type="image/x-icon")
  link(rel="stylesheet", href="../assets/css/index.css?v=2")
block content
  .media
    .home-button
      a(href="/" alt="Emily")
        img(src="../assets/img/dancing/crop/5.png")
    .video-container
      h1 Videos
      .card
        iframe.visual(src="https://www.youtube.com/embed/-s8Xh4VSxpA" frameborder="0" allowfullscreen)
      .caption
        i Emily Hansel Dance Reel
      .card
        iframe.visual(src="https://www.youtube.com/embed/uJ4H6y7Gza8?showinfo=0" frameborder="0" allowfullscreen)
      .caption
        i PHANTOM (2019)
        br
        small Directed, choreographed, and performed by Emily Hansel
      .card
        iframe(src="https://www.youtube.com/embed/K7ND7d_9pXU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
      .caption
        i (dis)connect (2017)
        br
        small Choreographed by Dylan Elmore
      .card
        iframe(src="https://www.youtube.com/embed/sANlYpQEVgo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
      .caption
        i Unkindness of Ravens (2014)
        br
        small Choreographed by Carl Flink

block scripts
  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js")
  script sessionStorage.seen = true;
