extends ../pug/_main_template.pug
block title
  title Emily Hansel | Digital Art
  link(rel="stylesheet", href="../assets/css/index.css?v=3")
block content
  .home-button
    a(href="/" alt="Emily")
      img(src="../assets/img/dancing/crop/3.png")
  .rightImage
    img(src="../assets/img/insatiable.png")
  .body-container.bio
    .bio-container.digital-art-container
      h1 Digital Art
      br 
      br
      br
      p Coming soon
block scripts
  script sessionStorage.seen = true;
